reactive-textarea {
  label {
    display: inline-flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
    height: 100%;

    textarea {
      display: inline-flex;
      height: 100%;
      padding: 0.5em;
      border-radius: 0.5em;
      outline: 2px solid var(--secondary-50);
      border: none;
      color: var(--secondary);
      background-color: var(--primary-80);
      resize: none;
      white-space: pre-wrap;

      &:focus {
        outline: 2px dashed var(--secondary-50);
      }
    }
  }
}
