@import '../../spacing.scss';

reactive-textarea {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: $space-md;

  button {
    cursor: pointer;
    border: 1px solid var(--secondary);
    outline: none;
    color: var(--secondary);
    border-radius: $space-sm;
    background-color: var(--secondary-10);
    font-weight: 900;
  }

  textarea {
    width: 100%;
    cursor: text;
    display: inline-flex;
    height: 100%;
    padding: $space-sm;
    border-radius: $space-sm;
    border: 1px solid var(--secondary-50);
    outline: none;
    color: var(--secondary);
    background-color: var(--primary-80);
    resize: none;
    white-space: pre-wrap;

    &:focus {
      outline: 2px dashed var(--secondary-50);
    }
  }
}
