reactive-textarea {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.8em;

  .row {
    display: inline-flex;
    justify-content: space-between;

    button {
      cursor: pointer;
      outline: 2px solid var(--secondary);
      border: none;
      color: var(--secondary);
      border-radius: 0.5em;
      background-color: var(--secondary-10);
      font-weight: 900;
    }
  }

  textarea {
    width: 100%;
    cursor: text;
    display: inline-flex;
    height: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
    outline: 2px solid var(--secondary-50);
    border: none;
    color: var(--secondary);
    background-color: var(--primary-80);
    resize: none;
    white-space: pre-wrap;

    &:focus {
      outline: 2px dashed var(--secondary-50);
    }
  }
}
