@import 'colors';
@import 'github-markdown-css/github-markdown.css';

@font-face {
  font-family: 'QuizRegular';
  src: url('../public/JetBrainsMono-VariableFont_wght.ttf');
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: QuizRegular, serif;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-dark);
  color: var(--secondary-light);
  tab-size: 3;

  ::selection {
    background: var(--secondary-warm);
    color: var(--primary-cold);
  }

  a {
    display: inline-block;
    background-color: var(--secondary-warm);
    color: var(--primary-cold);
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
  }

  header {
    scroll-snap-align: start;
    background-color: var(--secondary);
    color: var(--primary);
    height: 100dvh;
    padding: 0 1em;
    display: flex;
    flex-direction: column;

    h1#conversion {
      text-align: center;
      font-weight: 900;
    }

    h2:not(:first-of-type) {
      margin-top: 2em;
    }

    a#scroll-to-panes {
      margin-top: auto;
      align-self: center;
      width: 50px;
      padding: 0.5em;
      display: grid;
      place-items: center;
    }
  }

  section#panes {
    scroll-snap-align: start;
    display: grid;
    gap: 1em;
    padding: 1em 0;
    margin: 0 1em;
    height: 100dvh;
    align-items: stretch;
    grid-template-rows: repeat(3, minmax(0, 1fr));

    @media (min-width: 1024px) {
      grid-template: repeat(2, minmax(0, 1fr)) / repeat(2, minmax(0, 1fr));
    }

    reactive-textarea:nth-of-type(1) {
      grid-row: 1 / span 2;
    }

    reactive-textarea > textarea {
      overflow-y: scroll;
    }

    article.live-preview {
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      section#live {
        height: 100%;
        overflow: auto;
        border-radius: 0.5em;
        outline: 2px solid var(--secondary-50);
        padding: 0.5em;
      }
    }
  }

  footer {
    scroll-snap-align: end;
    height: 10dvh;
    display: grid;
    place-items: center;
    padding: 1em;
    background-color: var(--secondary);

    span.copy {
      color: var(--primary);
      font-weight: 800;
    }
  }
}
