quizzes-list-item {
  display: grid;
  grid-template: auto auto / auto auto;
  border: 1px solid;
  border-radius: 1em;
  overflow: hidden;

  span.quiz-title {
    padding: 0.5em;
    grid-column: 1 / span 2;
    background-color: var(--secondary-10);
  }

  span.quiz-description {
    padding: 0.5em;
    background-color: var(--primary-50);
  }
}
